In [8]:
us_state_abbrev = {
'Alabama': 'AL',
'Alaska': 'AK',
'Arizona': 'AZ',
'Arkansas': 'AR',
'California': 'CA',
'Colorado': 'CO',
'Connecticut': 'CT',
'Delaware': 'DE',
'Florida': 'FL',
'Georgia': 'GA',
'Hawaii': 'HI',
'Idaho': 'ID',
'Illinois': 'IL',
'Indiana': 'IN',
'Iowa': 'IA',
'Kansas': 'KS',
'Kentucky': 'KY',
'Louisiana': 'LA',
'Maine': 'ME',
'Maryland': 'MD',
'Massachusetts': 'MA',
'Michigan': 'MI',
'Minnesota': 'MN',
'Mississippi': 'MS',
'Missouri': 'MO',
'Montana': 'MT',
'Nebraska': 'NE',
'Nevada': 'NV',
'New Hampshire': 'NH',
'New Jersey': 'NJ',
'New Mexico': 'NM',
'New York': 'NY',
'North Carolina': 'NC',
'North Dakota': 'ND',
'Ohio': 'OH',
'Oklahoma': 'OK',
'Oregon': 'OR',
'Pennsylvania': 'PA',
'Rhode Island': 'RI',
'South Carolina': 'SC',
'South Dakota': 'SD',
'Tennessee': 'TN',
'Texas': 'TX',
'Utah': 'UT',
'Vermont': 'VT',
'Virginia': 'VA',
'Washington': 'WA',
'West Virginia': 'WV',
'Wisconsin': 'WI',
'Wyoming': 'WY'
}

In [12]:
state_keys = list(us_state_abbrev.keys())
full, abbr = list(us_state_abbrev.keys()), list(us_state_abbrev.values())

full = [s.lower() for s in full]
abbr = [a.lower() for a in abbr]

idx = [i for i in range(len(full))]

dict_1 = {full[i] : idx[i] for i in range(len(full))}
dict_2 = {abbr[i] : idx[i] for i in range(len(abbr))}

dict_1.update(dict_2)
dict_1

{'alabama': 0,
 'alaska': 1,
 'arizona': 2,
 'arkansas': 3,
 'california': 4,
 'colorado': 5,
 'connecticut': 6,
 'delaware': 7,
 'florida': 8,
 'georgia': 9,
 'hawaii': 10,
 'idaho': 11,
 'illinois': 12,
 'indiana': 13,
 'iowa': 14,
 'kansas': 15,
 'kentucky': 16,
 'louisiana': 17,
 'maine': 18,
 'maryland': 19,
 'massachusetts': 20,
 'michigan': 21,
 'minnesota': 22,
 'mississippi': 23,
 'missouri': 24,
 'montana': 25,
 'nebraska': 26,
 'nevada': 27,
 'new hampshire': 28,
 'new jersey': 29,
 'new mexico': 30,
 'new york': 31,
 'north carolina': 32,
 'north dakota': 33,
 'ohio': 34,
 'oklahoma': 35,
 'oregon': 36,
 'pennsylvania': 37,
 'rhode island': 38,
 'south carolina': 39,
 'south dakota': 40,
 'tennessee': 41,
 'texas': 42,
 'utah': 43,
 'vermont': 44,
 'virginia': 45,
 'washington': 46,
 'west virginia': 47,
 'wisconsin': 48,
 'wyoming': 49,
 'al': 0,
 'ak': 1,
 'az': 2,
 'ar': 3,
 'ca': 4,
 'co': 5,
 'ct': 6,
 'de': 7,
 'fl': 8,
 'ga': 9,
 'hi': 10,
 'id': 11,
 'il': 12,
 'in': 13,
 'ia': 14,
 'ks': 15,
 'ky': 16,
 'la': 17,
 'me': 18,
 'md': 19,
 'ma': 20,
 'mi': 21,
 'mn': 22,
 'ms': 23,
 'mo': 24,
 'mt': 25,
 'ne': 26,
 'nv': 27,
 'nh': 28,
 'nj': 29,
 'nm': 30,
 'ny': 31,
 'nc': 32,
 'nd': 33,
 'oh': 34,
 'ok': 35,
 'or': 36,
 'pa': 37,
 'ri': 38,
 'sc': 39,
 'sd': 40,
 'tn': 41,
 'tx': 42,
 'ut': 43,
 'vt': 44,
 'va': 45,
 'wa': 46,
 'wv': 47,
 'wi': 48,
 'wy': 49}

In [19]:
import pandas as pd

sample_csv = pd.DataFrame({'Date' : [], 'State' : [], 'Casualties' : []})
sample_csv.to_csv('./data/data_format.csv', index=False)

In [20]:
import numpy as np

False

In [27]:
from datetime import datetime

a = datetime.now()
b = datetime(2020, 4, 1)
(a - b).days

373

In [35]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

states = [s.lower() for s in states]
print(len(states))

states

50

['al',
 'ak',
 'az',
 'ar',
 'ca',
 'co',
 'ct',
 'de',
 'fl',
 'ga',
 'hi',
 'id',
 'il',
 'in',
 'ia',
 'ks',
 'ky',
 'la',
 'me',
 'md',
 'ma',
 'mi',
 'mn',
 'ms',
 'mo',
 'mt',
 'ne',
 'nv',
 'nh',
 'nj',
 'nm',
 'ny',
 'nc',
 'nd',
 'oh',
 'ok',
 'or',
 'pa',
 'ri',
 'sc',
 'sd',
 'tn',
 'tx',
 'ut',
 'vt',
 'va',
 'wa',
 'wv',
 'wi',
 'wy']

In [43]:
import requests
US_STATE_NAMES = [s.replace(' ', '_') for s in US_STATE_NAMES]
year = '2017'
for state in US_STATE_NAMES:
    dl = 'https://ucr.fbi.gov/hate-crime/{}/tables/table-13-state-cuts/{}.xls/output.xls'.format(year, state)
    r = requests.get(dl)
    with open("./data/{}/{}.xls".format(year, state), 'wb') as outfile:
        outfile.write(r.content)

In [2]:
from requests.api import options
# from newsapi import NewsApiClient
from pynytimes import NYTAPI
import sys
import os
sys.path.append(os.path.abspath('.'))
from credentials import NYT_KEY
from constants import KEY_WORDS
from datetime import datetime

nyt = NYTAPI(NYT_KEY, parse_dates=True)

search = nyt.article_search(
    query = KEY_WORDS[0],
    dates = {
        'begin' : datetime(2021, 3, 25),
        'end'   : datetime(2021, 4, 1)
    },
    options = {
        "sources" : [
            "New York Times",
            "AP",
            "Reuters",
            "International Herald Tribune"
        ]
    }
)

In [19]:
temp_url = search[0]['web_url']
search[0]['pub_date']

datetime.datetime(2021, 3, 31, 14, 55, 44, tzinfo=datetime.timezone.utc)

In [13]:
from newspaper import Article
article = Article(temp_url)
article.download()
article.parse()
article.text

'Prabal Gurung, the Nepalese-American designer, has been a vocal proponent of inclusion and diversity since his first show in 2009. In the wake of the Atlanta shootings and an upswing in anti-Asian violence, he talked to The New York Times about his own experiences and what his work has to do with it.\n\nHow do you grapple with what’s going on?\n\nTo watch a video of a 65-year-old woman being brutally attacked is triggering and heart-wrenching, not just for me but for my friends and people from my community. We all are so worried for our loved ones. My mother goes on walks every morning and evening. She’s 75-years-old. A couple of weeks ago, I bought a blond wig for her, and I said, “You know, just wear it when you go outside, wear a hat, wear glasses.” She tried it on. But the next day she came over to my place, and she was like: “I’m not going to wear it. Just buy me a big, strong cane.” That is the reality of this.\n\nIs that why you were an organizer of a Black and Asian solidarity march with other designers and activists in March?\n\nWe didn’t know how many people were going to show up, but thousands and thousands of people showed up across races and gender: L.G.B.T.Q. friends, Latin friends, Black friends, Asian friends, white friends. What we recognize is that for this particular moment to turn into a movement, we have to have all the marginalized groups and our white counterparts coming together.'

In [16]:
import numpy as np
a, b = np.arange(1000), [i for i in range(1000)]

%time b.append(1)
%time np.append(a,1)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.96 µs
CPU times: user 54 µs, sys: 22 µs, total: 76 µs
Wall time: 69.9 µs

array([  0,   1,   2, ..., 998, 999,   1])

In [21]:
date_start = datetime(2017, 1, 1)
date_end = datetime.now()
(date_end - date_start).days // 7

222

In [ ]:
from data.helpers import get_article_location, get_article_text, is_valid_article
import requests
# from newsapi import NewsApiClient
from pynytimes import NYTAPI
import sys
import os
sys.path.append(os.path.abspath('.'))
from credentials import NYT_KEY
from constants import *
from datetime import datetime, timedelta
import pandas as pd
from tqdm import tqdm


nyt = NYTAPI(NYT_KEY, parse_dates=True)

date_start = datetime(2017, 1, 1)
date_end = datetime(2017, 1, )
delta = timedelta(days = 7)

date_list, state_list = [], []

pbar = tqdm(total = (date_end - date_start).days // 7 + 1)

while date_start < date_end:
    date_delta_added = date_start + delta
    for keyword in KEY_WORDS:
        search = nyt.article_search(
            query = keyword,
            dates = {
                'begin' : date_start,
                'end'   : date_delta_added
            },
            options = {
                "sources" : [
                    "New York Times",
                    "AP",
                    "Reuters",
                    "International Herald Tribune"
                ]
            }
        )
        for i in range(len(search)):
            article_time, article_url = search[i]['pub_date'], search[i]['web_url']
            article_text = get_article_text(article_url)
            article_state = get_article_location(article_text)
            if is_valid_article(article_time, article_state, date_start, date_delta_added):
                article_time = datetime(article_time)
                date_list.append(article_time)
                state_list.append(article_state)

    date_start = date_delta_added
    pbar.update(1)

pbar.close()

occurence = [1] * len(date_list)
article_df = pd.DataFrame({'Date' : date_list, 'State' : state_list, 'Occurence' : occurence})
article_df.to_csv('./data/data_from_news.csv', index=False)